<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{%static 'css/BRMstyle.css'%}">
  </head>
  <body>
    <div id="profile">
      <p>Hey,My name is <span id="Sneh">SNEH JOSHI</span> a learning developer
      created this BRM(Book Record Management) system as my first project
      Hope you guys liked it!!!</p>
      <p>Name- Sneh Joshi</p>
      <p>Fav. Language- Python(more to learn)</p>
      <p>To Become- Web Developer</p>
      <p>City- Bilaspur</p>

    </div>
  </body>
</html>
